body {
	background-color: #02040a;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.square {
	width: 100px;
	height: 100px;
	background-color: #ff5733;
}
